.advantages {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-top: 30px;
  outline: 1px solid black;
}

.advantages__title {
  margin: 0;
  .set-font(700; 25px; 30px);
}

.advantages__list {
  .set-clean-list();
  .set-font(700; 17px; 20px);
}

.advantages__item {
  margin-top: 30px;
  padding-top: 40px;
}

.advantages__text {
  margin: 0;
}
