.best-product {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  outline: 1px solid black;
}

.best-product__title {
  margin: 0;
  .set-font(700; 25px; 30px);
}

.best-product__text {
  margin: 0;
  margin-top: 5px;
  .set-font(700; 17px; 20px; #63d1bb);
  text-transform: lowercase;
}

.best-product__description {
  margin: 0;
  margin-top: 25px;
  .set-font(400; 15px; 24px; #444444);
}

.best-product__list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  margin-top: 30px;
  width: 260px;
  .set-font(400; 15px; 20px; #444444);
}

.best-product__item {
  margin-top: 12px;
  width: 100px;
  min-height: 27px;
  border-bottom: 1px solid #ececec;
}

.best-product__value {
  margin: 0;
  margin-top: 12px;
  width: 160px;
  min-height: 27px;
  border-bottom: 1px solid #ececec;
}

.best-product__image {
  margin-top: 28px;
}

.best-product__price {
  margin-top: 28px;
  .set-font(700; 17px; 24px; #444444);
}

.best-product__button {
  margin-top: 25px;
}
