.best-product {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  outline: 1px solid black;
}

.best-product__title {
  margin: 0;
  .set-font(700; 25px; 30px);
}

.best-product__text {
  margin: 0;
  margin-top: 5px;
  .set-font(700; 17px; 20px; #63d1bb);
  text-transform: lowercase;
}

.best-product__description {
  margin: 0;
  margin-top: 25px;
  .set-font(400; 15px; 24px; #444444);
}

.best-product__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 30px;
  width: 260px;
  .set-font(400; 15px; 20px; #444444);
}

.best-product__item {
  margin-top: 12px;
  width: 100px;
  min-height: 27px;
  border-bottom: 1px solid #ececec;
}

.best-product__value {
  margin: 0;
  margin-top: 12px;
  width: 160px;
  min-height: 27px;
  border-bottom: 1px solid #ececec;
}

.best-product__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 28px;
}

.best-product__price {
  margin-top: 28px;
  .set-font(700; 17px; 24px; #444444);
  text-align: center;
}

.best-product__button {
  margin-top: 25px;
}

@media (min-width: @tablet-width) {
  .best-product {
    flex-wrap: wrap;
  }

  .best-product__header {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }

  .best-product__title {
    .set-font(700; 43px; 50px;);
  }

  .best-product__text {
    margin-top: 10px;
    margin-right: 20px;
    width: 76px;
    line-height: 17px;
    text-align: center;
  }

  .best-product__description {
    width: 43%;
    .set-font(400; 17px; 30px; #444444);
  }

  .best-product__price {
    width: 43%;
    .set-font(700; 20px; 24px; #444444;)
  }

  .best-product__button {
    width: 43%;
  }

  .best-product__wrapper {
    position: absolute;
    top: 55px;
    right: 50px;
    width: 43%;
  }
}

@media (min-width: @desktop-width) {
  .best-product {
    margin-top: 72px;
  }

  .best-product__header {
    z-index: 1;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
  }

  .best-product__title {
    .set-font(700; 53px; 57px;);
  }

  .best-product__text {
    margin: 0;
    margin-left: 46px;
    margin-right: 58px;
    width: 71px;
    line-height: 17px;
  }

  .best-product__description,
  .best-product__list,
  .best-product__price,
  .best-product__button {
    margin-left: 175px;
    width: 28%;
  }

  .best-product__wrapper {
    top: 0;
    right: 0;
    width: 50%;
  }
}
