.catalog-sections {
  display: flex;
  flex-direction: column;
  outline: 1px solid black;
}

.catalog-sections__list {
  .set-clean-list();
  .set-font(700; 19px; 24px; #ffffff);
}

.catalog-sections__item {
  display: flex;
  align-items: center;

  &--color-lightcyan {
    background-color: #63d1bb;
  }

  &--color-darkcyan {
    background-color: #56c3b2;
  }
}

.catalog-sections__link {
  padding: 28px 130px 28px 30px;
  width: 100%;
  min-height: 47px;
}
