.catalog-sections {
  display: flex;
  flex-direction: column;
  outline: 1px solid black;
}

.catalog-sections__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .set-clean-list();
  margin: 0 -30px;
  .set-font(700; 19px; 24px; #ffffff);
}

.catalog-sections__item {
  display: flex;
  align-items: center;
  flex-grow: 1;

  &--color-lightcyan {
    background-color: #63d1bb;
  }

  &--color-darkcyan {
    background-color: #56c3b2;
  }
}

.catalog-sections__link {
  display: flex;
  align-items: center;
  padding: 28px 130px 28px 30px;
  width: 100%;
  min-height: 47px;
}

@media (min-width: @tablet-width) {
  .catalog-sections__list {
    flex-direction: row;
    margin: 0;
    .set-font(700; 20px; 30px; #ffffff);
  }

  .catalog-sections__link {
    width: 174px;
    min-height: 63px;
  }
}
