.page-main {
  &--index {
    padding-bottom: 40px;
  }

  &--catalog {
    padding-bottom: 58px;
  }

  &--form {
    padding-bottom: 56px;
  }
}

.page-main__header {
  padding: 70px 30px 77px;
  background-color: #f1f1f1;

  &--index {
    background-color: #ffffff;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 575px 373px;
  }
}

.page-main__title {
  .set-font(@open-sans-bold; 27px; 30px);
  margin: 0 auto;
}
