.page-footer {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__wrapper-logo {
  display: flex;
  width: 183px;
}

.page-footer__logo {
  position: relative;
  display: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 102px;
    height: 34px;
  }

  &[href]:hover img,
  &[href]:active img {
    display: none;
  }

  &[href]:hover::before,
  &[href]:active::before {
    .paste-image(-1157px 0px;);
  }

  &[href]:active::before {
    opacity: 0.3;
  }
}

.page-footer__list {
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .set-clean-list();
  width: 172px;
}

.page-footer__item {
  display: flex;
}

.page-footer__link {
  margin: 0 15px;
  width: 23px;
  height: 28px;

  &--icon-instagram,
  &--icon-facebook,
  &--icon-twitter {
    &:active {
      opacity: 0.3;
    }
  }

  &--icon-instagram {
    margin-left: 13px;
    width: 22px;
    height: 21px;
    .paste-image(-652px 0px;);

    &:hover,
    &:active {
      .paste-image(-676px 0px;);
    }
  }

  &--icon-facebook {
    width: 15px;
    height: 28px;
    .paste-image(-700px 0px;);

    &:hover,
    &:active {
      .paste-image(-717px 0px;);
    }
  }

  &--icon-twitter {
    margin-right: 20px;
    width: 23px;
    height: 20px;
    .paste-image(-734px 0px;);

    &:hover,
    &:active {
      .paste-image(-760px 0px;)
    }
  }
}

.page-footer__wrapper-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 27px;
  padding-top: 20px;
  .set-font(700; 19px; 18px);
  border-top: 1px solid #e5e5e5;
}

.page-footer__copyright-link {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 57px;
  height: 34px;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    width: 27px;
    height: 34px;
    .paste-image(-786px 0px;);
  }

  &:active,
  &:active::before {
    opacity: 0.3;
  }

  &:hover::before,
  &:active::before {
    .paste-image(-786px -37px;);
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding: 51px 0 27px;
    min-height: 65px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .page-footer__logo {
    display: flex;
  }

  .page-footer__list {
    align-self: flex-start;
    margin-top: 8px;
    padding: 0;
    border: none;
  }

  .page-footer__wrapper-copyright {
    margin-top: 5px;
    padding: 0;
    width: 183px;
    border: none;
  }
}
