.page-main {
  display: flex;
  flex-direction: column;

  &--index {
    padding-bottom: 40px;
  }

  &--catalog {
    padding-bottom: 58px;
  }

  &--form {
    padding-bottom: 56px;
  }
}

.page-main__header {
  align-self: center;
  width: 100%;
  padding-top: 73px;
  min-height: 103px;
  background-color: #f1f1f1;

  &--index {
    padding-top: 69px;
    min-height: 213px;
    background-color: #ffffff;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.page-main__title {
  margin: 0 auto;
  width: 245px;
  .set-font(700; 27px; 30px);
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-main {
    &--index {
      padding-bottom: 57px;
    }

    &--catalog {
      padding-bottom: 63px;
    }

    &--form {
      padding-bottom: 50px;
    }
  }

  .page-main__header {
    margin-top: -73px;
    padding-top: 87px;
    min-height: 137px;

    &--index {
      padding-top: 155px;
      min-height: 471px;
    }
  }

  .page-main__title {
    width: 500px;
    .set-font(700; 43px; 50px;)
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    &--index,
    &--catalog {
      padding-bottom: 105px;
    }

    .page-main__header {
      margin-top: -75px;
      padding-top: 97px;
      min-height: 155px;

      &--index {
        padding-top: 155px;
        min-height: 471px;
      }
    }

    .page-main__title {
      width: 620px;
      .set-font(700; 53px; 57px;);
    }
  }
}
