.production-process {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 59px;
}

.production-process__wrapper-content {
  display: flex;
  flex-direction: column;
  padding: 25px 33px 31px;
  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px 0 #ebebeb;
  }

  &:active {
    box-shadow: 0 3px 10px 0 #ebebeb;
  }
}

.production-process__title {
  position: relative;
  align-self: center;
  margin: 0;
  padding-left: 57px;
  width: 135px;
  .set-font(700; 17px; 24px);

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 32px;
    height: 22px;
    .paste-image(-815px 0px;);
  }
}

.production-process__wrapper-video {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 25px -33px 0;
  width: 260px;
  height: 150px;
}

.production-process__image {
  position: relative;
  height: 150px;
  background-color: #b5b4b2;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 23.5%;
    left: 30.5%;
    width: 100px;
    height: 77px;
    .paste-image(-849px 0px;);
    transition: 0.3s;
  }

  &:hover::before {
    transform: scale(1.2);
  }

  &:active::before {
    transform: scale(0.8);
    opacity: 0.3;
  }

  img {
    pointer-events: none;
  }
}

.production-process__text {
  margin: 0;
  margin-top: 27px;
  width: 100%;
  .set-font(400; 13px; 24px; #444444);
}

.production-process__button {
  margin-top: 25px;
}

@media (min-width: @tablet-width) {
  .production-process {
    margin-top: 52px;
    margin-bottom: 63px;
  }

  .production-process__wrapper-content {
    align-items: flex-start;
    padding: 0 41px 45px;
  }

  .production-process__title {
    order: 2;
    align-self: stretch;
    margin-top: 38px;
    padding-left: 64px;
    width: auto;
    font-size: 20px;

    &::before {
      top: 0;
    }
  }

  .production-process__wrapper-video {
    order: 1;
    flex-direction: row;
    align-self: stretch;
    justify-content: center;
    margin: 0 -42px;
    width: auto;
    height: 455px;
    border-bottom: 1px solid #ececec;
  }

  .production-process__image {
    height: auto;

    &::before {
      top: 41.6%;
      left: 42.3%;
    }
  }

  .production-process__text {
    order: 3;
    margin-top: 32px;
    margin-left: -2px;
    .set-font(400; 15px; 30px; #444444);
  }

  .production-process__button {
    order: 4;
    align-self: stretch;
    margin-top: 35px;
  }
}

@media (min-width: @desktop-width) {
  .production-process {
    margin-top: 0;
    margin-bottom: 105px;
    min-height: 455px;
  }

  .production-process__wrapper-content {
    position: relative;
    padding: 46px 57px 58px 760px;
  }

  .production-process__title {
    margin: 0;
    margin-left: -2px;
    padding: 49px 50px 0 0;

    &::before {
      left: 2px;
    }
  }

  .production-process__wrapper-video {
    position: absolute;
    top: -1px;
    left: -1px;
    margin: 0;
    width: 682px;
    border: none;
  }

  .production-process__image {
    &::before {
      top: 188px;
      left: 290px;
    }
  }

  .production-process__text {
    margin-top: 34px;
  }

  .production-process__button {
    margin-top: 46px;
  }
}
