.set-font(@font-weight; @font-size; @line-height; @color: #000000) {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  color: @color;
}

.set-clean-list(@margin: 0; @padding: 0;) {
  margin: @margin;
  padding: @padding;
  list-style: none;
}
